.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-top: 2px solid rgb(177, 189, 211);
  border-bottom: 2px solid rgb(177, 189, 211);
  box-shadow: -10px 0px rgb(33, 7, 181);
  background-color: var(--block-color);
  max-width: var(--block-width);

  h3 {
    margin: 0;
  }
}

.experience .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 50px;
  text-align: center;
  padding: 20px;
}

.experienceTitle {
  grid-column: 1/3;
  height: 40px;
  display: grid;
  border-bottom: 2px solid black;

  h3 {
    justify-self: center;
  }

  button {
    justify-self: end;
    transform: translate(-20px, -40px);
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
  }
}

.experience input,
.experience textarea {
  width: 90%;
}
.experience textarea {
  resize: none;
  height: 125px;
}

.jobDuration {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
.jobDuration input {
  width: 90%;
}

.add-experience {
  height: 48px;
  font-size: 2rem;
  display: grid;
  place-content: center;
  border: 2px solid black;
  color: white;
  border-radius: 10px;
  background-color: rgb(5, 22, 34);
  cursor: pointer;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}
.add-experience:active {
  transform: scale(90%);
}
