.page {
  background-color: rgb(101, 110, 131);
  width: 700px;
}

.resume {
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 10%;
  margin: 50px 70px;

  height: 800px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.cvinfo {
  width: 30%;
  height: 100%;
  background-color: slategray;
}
