@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  font-size: 16px;
  --input-width: 300px;
  --input-height: 40px;
  --block-width: auto;
  --block-color: rgb(251, 246, 246);
}
* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  background-color: rgb(239, 235, 235);
}

nav {
  height: 100px;
  display: grid;
  place-items: center;
  font-size: 2rem;
  background-color: cadetblue;
  color: white;
}

input {
  height: var(--input-height);
}

input,
textarea {
  font-size: 1rem;
  border-radius: 5px;
  border-style: groove;
}
textarea {
  border: 2px solid black;
}

.blockTitle {
  display: grid;
  place-items: center;
  font-size: 2rem;
  height: 75px;
  background-color: #f6e8e87a;
  width: 100%;
}
